
.image-gallery-left-nav, .image-gallery-right-nav {
    box-sizing: border-box;
    padding:1.1rem 0.95rem;
	top: 50%;
	transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    opacity:0;
    display:flex;
    align-items: center;
    justify-content: center;
}

.image-gallery-left-nav{
    left: 7px;    
}

.image-gallery-right-nav{
    right: 7px;    
}

.image-gallery-slide-wrapper:hover button.image-gallery-left-nav{
    opacity:0.5;
}
.image-gallery-slide-wrapper:hover button.image-gallery-right-nav{
    opacity:0.5;
}

 .image-gallery-slide-wrapper:hover  :is(button.image-gallery-left-nav:hover, button.image-gallery-right-nav:hover){
    opacity: 1;
}
