.overlay {
	--base-z: 1000000000;
	z-index: calc(var(--base-z) + 2);
}

.circle > ul {
	color: darkslategray;
}

div[data-cms] * {
	font-size: 15px;
	list-style-type: circle;
	display: block;
	line-height: normal;
	color: darkslategray;
}

div[data-cms] > * {
	margin-left: 1.2rem;
}
