.overlay {
  --base-z: 1000000000;
  z-index: calc(var(--base-z) + 2);
}

.circle > ul {
  color: darkslategray;
}

div[data-cms] {
  font-size: 14px;
}
div[data-cms] * {
  font-size: 14px;
  display: block;
  line-height: normal;
  color: darkslategray;
  margin-left: 1.2rem;
}
