.des {
	flex: 0 0 50%;
	max-width: 50%;
}
.oth {
	flex: 0 0 16.666667%;
	max-width: 16.666667%;
}

.activePlan {
	background-color: transparent;
	color: #f5317c;
	border-bottom: 2px solid #f5317c;
}
@media screen and (min-width: 820px) {
	.activePlan {
		background-color: transparent;
		color: white;
		background-color: #f5317c;
		border: none;
	}
}
