.service-grid {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: repeat(auto-fit, 64px);
	justify-content: space-around;
	grid-auto-columns: min-content;
}

@media screen and (max-width: 700px) {
	.service-grid {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: repeat(7, 64px);
		grid-auto-rows: 66px;
	}
}

@media screen and (max-width: 480px) {
	.service-grid {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: repeat(6, 64px);
		grid-auto-rows: 66px;
	}
}
@media screen and (max-width: 400px) {
	.service-grid {
		display: grid;
		grid-auto-flow: row;
		grid-template-columns: repeat(5, 64px);
		grid-auto-rows: 66px;
	}
}
