.tableGrid {
	display: grid;
	grid-template-columns:
		minmax(4rem, 10%) minmax(4rem, 15%) minmax(7rem, 1fr) minmax(5rem, 10%)
		minmax(5rem, 10%) minmax(10rem, 15%);
	grid-template-rows: 4rem;
	grid-auto-rows: 4rem;
}

@media screen and (max-width: 820px) {
	.tableGrid {
		grid-template-rows: 3rem;
		grid-auto-rows: 3rem;
	}
}
