body{
  margin:0;
}
* {
    color: #f5317c ;
}
.logo{
  background-image:url('./components/images/RechargeLogo.jpeg');
  background-size:contain;
  background-repeat: no-repeat;
  min-width: 150px;
  max-width: 150px;
  max-height: 27.7px;
  min-height: 27.7px;
}

.fit-content{
  width:fit-content;
}
.bg-primary{
  background-color: #f5317c ;
}
.text-primary{
  color:#f5317c;
}
.text-secondary{
  color:#536b61;
}
.text-tertiary{
  color:white;
}
.width-80{
  width: 80%;
}
input.field{
	width: 65%;
	padding: .375rem .75rem;
	font-weight: 400;
	border: 1px solid #f5317c;
	border-radius: .25rem;
	font-size: 12px;
}
input.field:focus{
	border: 1px solid steelblue;
	outline: 1px solid steelblue;

}
.blankCheckbox{
  width:0.25rem;
  height: 0.25rem;
  border:1px #f5317c solid ;
}

.filledCheckbox{
  width:0.25rem;
  height: 0.25rem;
  border-radius:2px;
  /* workrequired */
  background-image: url("./components/images/tick.svg"); 
  background-size:contain;
  border: 1px solid #f5317c;
}
.eye{
  width:40px;
  height: 1rem;
  margin-top:7px;
}
.m-header{
  margin-left:3.5%;
  margin-right:3.5%;
}
  .bg-primary{
    background-color: #f5317c;
    color:white;
  }
/* button, [type="button"], [type="reset"], [type="submit"]{
  padding: 1rem 2rem;;
  color:white;
  background-color: #f5317c;
} */

*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

.root{
    width:100%;
}
header,section,main,footer{
    width:100%;
    min-height:10rem;
    padding:1rem 0;
}
header{
    background-color: red;
}
section{
    background-color: blue;
}
main{
    background-color: green;
}
footer{
    background-color: brown;
}
.width{
        max-width: 1180px;
        padding: 1rem 0.2rem;
        box-sizing: border-box;
}
@media screen and (max-width: 1200px) {
    .width{
        
        max-width:754px;
    }
  }
@media screen and (max-width: 1024px) {
    .width{
         
        width:945px;
    }
  }
@media screen and (max-width: 991px) {
    .width{   
        box-sizing: border-box;
        width:705px;
    }
  }
@media screen and (max-width: 767px) {
    .width{
        width:525px;
    }
  }

@media screen and (max-width: 660px) {
    .width{
        width:576px;
    }
  }


@media screen and (max-width: 600px) {
    .width{
        width:400px;
    }
  }


@media screen and (max-width: 440px) {
    .width{
        width:80vw;
    }
  }

@media screen and (min-width: 1201px) {
    .width{
        width:1190px;
    }
  }